@import "general.css";

h1 {
  margin: 0;
  color: var(--form-h1-color);
}

.form-container {
  display: flex;
  min-height: 77vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: var(--form-text-font-weight);
}

.form-container button {
    margin-top: -1em;
    font-weight: var(--form-button-text-font-weight);
}

.form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--form-background-color);
  justify-content: center;
  border-radius: 1em;
  margin: 2em;
  padding: 2em 3em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.button-div {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.edit-button-div {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

form label {
  color: var(--navbar-color);
}

form input,
textarea {
  margin-top: 0.5em;
  width: 30em;
  height: 2em;
  color: var(--form-input-text-color);
  font-weight: var(--form-input-text-font-weight);
  border-radius: 0.7em;
  border-width: 0.16em;
  border-style: outset;
  border-color: rgb(188, 188, 188);
  padding: 0 1em;
}

form input:focus,
textarea:focus {
  outline: none;
}

textarea {
  height: 10em;
  display: flex;
  align-items: baseline;
  justify-content: start;
  text-wrap: wrap;
  resize: none;
  padding: 1em 1em;
}

.input-field label {
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--form-text-color);
}

#submit-button {
  display: none;
}

.wrong {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(175, 99, 142);
  width: 100%;
  overflow-wrap: break-word;
}

.wrong-div {
  width: 28em;
}

.edit-logout {
  color: rgb(161, 177, 221);
}

.edit-delete {
  color: rgb(221, 161, 194);
}

.edit-center {
  width: 100%;
  display: flex;
  justify-content: end;
}

.under-form-message {
  color: var(--form-under-form-message-color);
  margin: var(--form-under-form-message-margin);
}

.under-form-message-link {
  text-decoration: underline;
}

.form-title {
  display: flex;
  align-items: center;
}

.form-title-line {
  width: 10em;
}