@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    /* BODY */
    --body-color: rgb(16, 16, 16);
    --body-text-color: rgb(253, 229, 186);
    --font: "Quicksand", sans-serif;
    --transition: all ease-in-out 200ms;
    --accent-color: white;

    /* NAVBAR */
    --navbar-background-color: rgb(0, 0, 0);
    --navbar-padding: 0em 2em;
    --navbar-height: 10vh;
    --navbar-buttons-margin: 0 0.5em;
    --navbar-profile-circle-size: 4em;
    --navbar-icon-color: var(--body-text-color);
    --navbar-initials-color: var(--navbar-background-color);
    --navbar-initials-size: 2em;
    --navbar-icon-size: 2em;
    --navbar-font-weight: 700;
    --navbar-invitations-color: var(--accent-color);
    --navbar-invitations-notification-color: rgb(212, 63, 63);

    /* BUTTON */
    --button-color: var(--body-text-color);
    --button-text-color: var(--navbar-background-color);
    --button-hover-color: rgba(243, 225, 197, 0.808);

    /* HOME */
    --home-not-authorized-height: 80vh;
    --home-not-authorized-button-padding: 1em 4em;
    --home-not-authorized-button-margin: 0.5em;
    --home-not-authorized-button-font-size: 1.6em;
    --home-not-authorized-button-font-weight: 500;
    --home-not-authorized-singup-background-button-color: var(--button-color);
    --home-not-authorized-login-background-button-color: var(--accent-color);
    --home-authorized-padding: 4em 0 0 0;
    --home-authorized-hotel-background-color: var(--navbar-background-color);
    --home-authorized-h1-color: var(--accent-color);
    --home-authorized-hotel-font-color: var(--accent-color);
    --home-authorized-hotel-font-size: 2em;
    --home-authorized-hotel-icon-color: var(--body-text-color);
    --home-authorized-hotel-icon-size: 1em;
    --home-authorized-hotel-width: 20em;
    --home-authorized-hotel-padding: 0.5em 1em;
    --home-authorized-hotel-margin: 0.5em;
    --home-authorized-hotel-border-radius: 0.3em;
    --home-authorized-hotel-hover-background-color: rgb(8, 8, 8);

    /* FORM */
    --form-background-color: var(--navbar-background-color);
    --form-text-color: var(--body-text-color);
    --form-h1-color: var(--accent-color);
    --form-input-text-color: var(--navbar-background-color);
    --form-input-text-font-weight: 600;
    --form-button-text-font-weight: 600;
    --form-text-font-weight: 600;
    --form-under-form-message: var(--body-text-color);
    --form-under-form-message-color: rgb(122, 122, 122);
    --form-under-form-message-margin: 2em 0 0 0; 

    /* ROOMS */
    --rooms-container-width: 50vw;
    --rooms-container-padding: 2em 0 0 0;
    --rooms-padding: 2em 0 0 0;
    --room-margin: 1em;
    --room-font-size: 2.4em;
    --room-width: 5em;
    --room-height: 3em;
    --room-border-radius: 0.2em;
    --room-available-background-color: var(--body-text-color);
    --room-taken-background-color: rgb(141, 126, 98);
    --room-number-color: var(--body-color);
    --bed-icon-color: white;
    --bed-icon-margin: 0 0.3em 0 0;
    --room-info-padding: 0 0.5em;
    --room-info-margin: 0.5em 0;
    --room-info-font-weight: 600;
    --date-selector-button-font-weight: 700;
    --date-selector-margin: 0 1em 0 0;
    --date-selector-font-weight: 700;
    --date-selector-border-radius: 0.6em;
    --date-selector-padding: 0.3em 0.5em;

    /* BOTTOM OF PAGE BUTTON */
    --bottom-of-page-button-background-color: var(--body-text-color);
    --bottom-of-page-button-font-size: 6vh;
    --bottom-of-page-button-font-weight: 600;
    --bottom-of-page-button-width: 8vh;
    --bottom-of-page-button-height: 8vh;
    --bottom-of-page-button-border-radius: 10em;
    --bottom-of-page-button-text-color: var(--body-color);
    --bottom-of-page-button-top: 89vh;
    --bottom-of-page-button-left: 95vw;

    /* ROOM DETAILS */
    --room-details-room-number-background-color: var(--body-text-color);
    --room-details-room-number-color: var(--navbar-background-color);
    --room-details-room-number-width: 20em;
    --room-details-room-number-height: 3em;
    --room-details-room-number-border-radius: 0.3em;
    --room-details-room-number-font-size: 3em;
    --room-details-room-number-font-weight: 700;
    --room-details-room-number-margin: 0.5em 0;
    --room-details-booking-title-margin: 4em 0 0 0;
    --room-details-room-info-width: 36em;
    --room-details-room-info-font-size: 1.6em;
    --room-details-room-info-margin: 0.5em 0;
    --room-details-icon-color: white;
    --room-details-payment-icon-margin: 0 0 0 0.5em;
    --room-details-icon-margin: 0 0.5em 0 0;
    --room-details-booking-border: 2px solid var(--body-text-color);
    --room-details-booking-background-color: var(--room-taken-background-color);
    --room-details-booking-margin: 1em;
    --room-details-booking-width: 46em;
    --room-details-booking-padding: 0.8em;
    --room-details-booking-font-size: 1.2em;
    --room-details-booking-border-radius: 0.8em;
    --room-details-booking-font-weight: 500;
    --room-details-booking-info-part-width: 36em;
    --room-details-no-booking-font-size: 2em;
    --room-details-no-booking-color: var(--room-taken-background-color);
    --room-details-no-booking-margin: 1em 0;

}

body {  
    padding: 0;
    margin: 0;
    background-color: var(--body-color);
    font-family: var(--font);
    color: var(--body-text-color);
}

a {
    color: inherit; 
    text-decoration: inherit; 
  }

.icon {
    transition: var(--transition);
    height: 1em;
}

.icon:hover {
    opacity: 0.8;
}

.line {
    height: 0.3em;
    margin: 0 1em 0 1em;
    background-color: var(--body-text-color);
    border-radius: 10em;
}