@import "general.css";

.home-not-authorized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--home-not-authorized-height);
}

.home-not-authorized button {
    padding: var(--home-not-authorized-button-padding);
    border-radius: 100em;
    margin: var(--home-not-authorized-button-margin);
    font-size: var(--home-not-authorized-button-font-size);
    font-weight: var(--home-not-authorized-button-font-weight);
}

.home-authorized {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--home-authorized-padding);
}

.home-authorized h1 {
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: 3em;
}

.home-hotel {
    background-color: var(--home-authorized-hotel-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--home-authorized-hotel-font-size);
    color: var(--home-authorized-hotel-font-color);
    width: var(--home-authorized-hotel-width);
    padding: var(--home-authorized-hotel-padding);
    margin: var(--home-authorized-hotel-margin);
    border-radius: var(--home-authorized-hotel-border-radius);
    transition: var(--transition);
}

.home-hotel:hover {
    background-color: var(--home-authorized-hotel-hover-background-color);
}

.home-hotel .icon {
    fill: var(--home-authorized-hotel-icon-color);
    height: var(--home-authorized-hotel-icon-size);
}

.home-hotel-edit {
    display: flex;
    align-items: center;
}

.home-hotel-name {
    font-family: var(--font);
    font-weight: 400;
    display: flex;
    align-items: center;
}

.home-hotel-name .icon {
    margin-right: 0.5em;
}