@import "general.css";

.navbar {
    background-color: var(--navbar-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--navbar-padding);
    height: var(--navbar-height);
    box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.314);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .icon {
    fill: var(--navbar-icon-color);
    transition: var(--transition);
    height: var(--navbar-icon-size);
}

.navbar .invitations {
    fill: var(--navbar-invitations-color);
}

.right, .navbar-authorized {
    display: flex;
    align-items: center;
}

.navbar-not-authorized button, .navbar-authorized > * {
    margin: var(--navbar-buttons-margin);
}

.profile-circle {
    width: var(--navbar-profile-circle-size);
    height: var(--navbar-profile-circle-size);
    border-radius: 100em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--navbar-font-weight);
}

.navbar-initials {
    text-transform: uppercase;
    font-family: var(--font);
    font-size: var(--navbar-initials-size);
    color: var(--navbar-initials-color);
}

.notification-circle {
    background-color: var(--navbar-invitations-notification-color);
    position: relative;
    height: 0.8em;
    width: 0.8em;
    left: 1.4em;
    top: -2.3em;
    border-radius: 10em;
    border: 3px solid var(--navbar-background-color);
}

.invitations-link {
    height: 2em;
}